.top {
    margin-top: 20px;
}

.seguir {
    padding-left: 50px;
    padding-right: 50px;
}

.spanes {
    margin-top: 10px;
}

.puntero {
    cursor: pointer;
}

.puntero:hover {
    opacity: .8;
}

.img {
    width: 100%;
    height: 100%;
}

.comentarios {
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.cora {
    font-size: 20px;
}

@media only screen and (max-width: 800px) {
    .centro {
        text-align: center;
    }
}