<div class="container-fluid">
    <div class="card-columns">
        <div class="card" *ngFor="let usuario of usuarios">
            <img class="card-img-top" [src]="usuario.img | imagen" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ usuario.nombre }}</h5>
                <p class="card-text">{{ usuario.bio }}</p>
                <a [routerLink]="['/usuarios',usuario._id]" class="btn btn-info">Ver perfil</a>
            </div>
        </div>
    </div>
</div>